// android.scss
//
// 161023 sd v
//
//


@import 'colors';

$padding1: '1dp,1dp,1dp,1dp';
$padding4: '4dp,4dp,4dp,4dp';
$padding8: '8dp,8dp,8dp,8dp';
$padding16: '16dp,16dp,16dp,16dp';

$theme-name: '!mm:Primary_Indigo,!mm:Accent_Amber';
$primary-color: $google-indigo_500-color;
$primaryDark-color: $google-indigo_700-color;
$accent-color: $google-amber_A200-color;
$drawer_300-color: $google-green_300-color;
$drawer_500-color: $google-green_500-color;
$drawer_800-color: $google-green_800-color;


TextView, TextEdit {
  textSize: 14dp;
  textColor: $primary-color;
}

.sidebar .title {
  padding: '80dp,16dp,16dp,16dp';
  backgroundColor: $drawer_500-color;
}

.title GradientDrawable {
  gradientType: 0;
  orientation: 'BR_TL';
  colors: $drawer_300-color, $drawer_500-color, $drawer_800-color;
}

.title TextView {
  textColor: $mapp-white-color;
}

TabLayout {
  backgroundColor: $google-indigo_300-color;
  padding: $padding1;
}

